name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  # Something seems to be setting this in the default GHA runners, which breaks bcvk
  # as the default runner user doesn't have access
  LIBVIRT_DEFAULT_URI: "qemu:///session"


jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ubuntu environment
        uses: ./.github/actions/bootc-ubuntu-setup
        with:
          libvirt: 'true'

      - name: Remove pre-installed bcvk
        run: sudo rm -f /usr/bin/bcvk

      - name: Install go-md2man for man page generation
        run: sudo apt install -y go-md2man

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - uses: taiki-e/install-action@nextest

      - name: Build
        run: just validate && just build
        
      - name: Run unit tests
        run: just unit
        
      - name: Run integration tests
        run: just test-integration

      - name: Upload junit XML
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-junit-xml
          path: target/nextest/integration/junit.xml
          retention-days: 7

      - name: Create archive
        run: just archive
        
      - name: Upload artifacts
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: bcvk-binary
          path: |
            target/bcvk-*.tar.gz
            target/bcvk-*.tar.gz.sha256
          retention-days: 7
